{
"presets": [                                     [                                                "@babel/preset-env",                           {                                                "modules": "commonjs",                         "targets": {                                     "node": "current",                             "chrome": "53",                                "ie": "11"                                   }                                            }                                            ]                                            ],                                             "plugins": [                                     [                                                "@babel/plugin-proposal-class-properties"                                                   ]                                            ]
}
